{% load static %}
{% block  content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Done</title>
    <link href="{% static 'signup/css3/style3.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'signup/css3/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all" /> <!-- Link to your CSS file -->
</head>
<body>
    <h1>Password Reset Request Sent</h1>
    <p>An email has been sent to your email address with instructions to reset your password.</p>
    <p>If you do not receive the email, please check your spam folder or try again.</p>
    <p><a href="{% url 'signin' %}">Go to Sign In</a></p>
</body>
</html>
{% endblock content  %}
